.sideCardCont{
    display: flex;
    gap: 5%;
 /*    justify-content: space-between; */
}
.left{
    background: #ffffff;
    padding: 8.12px 9.28px;
}
.right{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 8px;
}
.right p span{
    font-weight: 700;
    color: var(--foreground);
}
.payDueRight{
    height: 148px;
    justify-content: space-between !important;
    align-self: center;
}
.payDuePrice{
    font-size: 24px;
    font-weight: 700;
    color: var(--foreground);
}
.description{
    display: -webkit-box;
  -webkit-line-clamp: 6; /* Limits to 1 line, use 2 for a longer preview */
  -webkit-box-orient: vertical;  
  overflow: hidden;
}